body {
    background-image: url(Colorful-Plait-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    place-items: center;
    display: grid;
    font-size: 20px;
}

#container {
    border-style: solid;
    border-color: #f4a261;
    margin: 10px;
    padding: 10px;
    background-color: #eddcd2;
    font-family: fantasy;
    position: absolute;
    top:20%;
    left: 35%;
    text-align: center;
    border-radius: 10px;
}

#OutputContainer {
    font-family: monospace;
    display: none;

}
.warning{
    text-align: center;
    font-family: serif;
    color: red;
}
#btnDiv{
    padding: 10px;
    text-align: center;
}


.loader {
    position: relative;
    left: 30%;
    margin: 10px;
    width: 150px;
    height: 150px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}
